{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="get">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" maxlength="32" required>
    <label for="type">Type</label>
  	<select name="type" id="type">
      <option value="title">Title</option>
  	  <option value="actor">Actor</option>
    </select>
    <input type="submit" value="Search">
  </form>
{% endblock %}
